.news-item {
  height: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.news-item .card-image img {
  width: 100%;
  height: 12vw; /* Ajusta esta altura */
  object-fit: cover;
}

.news-item .card-content {
  flex-grow: 1;
  overflow: hidden;
}

.news-item .card-content h5 {
  font-size: 1.2rem;
  margin: 0;
}

.news-item .card-content p {
  font-size: 0.9rem;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limita el texto a 3 líneas */
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
  max-height: calc(1.5em * 3); /* Ajusta este valor si cambias el line-height */
  line-height: 1.5em; /* Asegura que todas las líneas tengan una altura consistente */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}


.news-item .card-action {
  text-align: right;
}
